<?xml version='1.0' encoding='utf-8'?>
<widget xmlns="http://www.w3.org/ns/widgets" id="https://addons.opera.com/extensions/details/stylish-for-opera/" version="1.3.8-final" href="https://addons.opera.com/extensions/details/stylish-for-opera/" defaultlocale="en">
  <name>Stylish</name>
  <author href="http://my.opera.com/gera2ld" email="gera2ld@163.net">Gerald</author>
  <icon src="images/icon64.png"/>
  <icon src="images/icon18.png"/>
  <access origin="http://userstyles.org"/>
  <description xml:lang="en">Stylish for Opera 11.64 and below, allowing UserCSS for different URLs, userstyles.org supported.</description>
  <description xml:lang="zh">Stylish for Opera 11.64及以下版本，根据地址来添加UserCSS，支持userstyles.org。</description>
  <description xml:lang="fr">Stylish for Opera 11.64 and below, allowing UserCSS for different URLs, userstyles.org supported.</description>
</widget>
