h1{text-shadow:#999 3px 3px 5px;}
a{color:dodgerblue;}
textarea,input[type=text]{box-sizing:border-box;width:100%;}
.main{max-width:900px;height:100%;margin:0 auto;}
.sidebar{position:fixed;background:#fafafa;width:200px;margin-top:30px;box-sizing:border-box;border:1px solid darkgray;border-radius:10px 0 0 10px;border-right:none;padding:20px 10px 10px;text-align:right;}
.sidebar>hr{border:none;border-top:1px solid darkgray;}
.sidemenu>a{color:gray;display:block;font-size:1.17em;font-weight:bold;line-height:2.5em;text-decoration:none;}
.sidemenu>a.selected,.sidemenu>a:hover{color:black;}
.content{background:white;margin-left:200px;box-sizing:border-box;border-left:1px solid darkgray;border-right:1px solid darkgray;height:100%;overflow-y:auto;position:relative;}
.content>div{margin:20px;}
.controls{height:1px;}
.controls>div{padding:5px 10px;}
.right{text-align:right;}
.list{background:white;}
.list>div{border-bottom:1px dashed lightgray;line-height:2em;}
.list .selected{background:lightgreen;color:darkgreen;}
.new{color:red;}

/* Installed styles */
#tabInstalled{height:100%;width:100%;}
#sList{height:100%;overflow-y:auto;box-sizing:border-box;padding:0 10px 10px;border-top:1px solid darkgray;}
#sList>div{border-bottom:1px dashed silver;padding:10px;}
#sList>div.disabled{background:lightgray;color:gray;}
#sList>div.disabled .name{color:blueviolet;}
#sList .name{margin-right:10px;font-weight:bold;font-size:120%;}
#sList .panel{margin-top:1em;}

/* Editor */
#wndEditor{position:fixed;background:lightgray;top:0;bottom:0;left:0;right:0;z-index:1;}
#wndEditor,#wndEditor table{width:100%;height:100%;margin:0;padding:0;}
#wndEditor>tbody>tr>td{height:100%;}
.rules{width:100%;}
.rules textarea{height:100px;}
#wndEditor .side{width:220px;}
#mSection>div{padding:0 10px;}
#mSection>.selected{background:gray;color:white;}

/* Settings */
#tabSettings fieldset{border:none;border-top:1px solid silver;margin:20px 0 0;}
#tabSettings .list{min-height:100px;max-height:400px;border:1px solid darkgray;cursor:pointer;overflow-y:auto;}
#tabSettings .list>div{display:inline-block;width:180px;margin:2px;padding:0 5px;border:1px dashed lightgray;}
#dImport{position:relative;}
#aImport{display:block;position:absolute;width:100%;height:100%;cursor:default;opacity:0;top:0;left:0;}
