@import url(font.css);
html,body{background:#eee;}
h1{text-align:center;}
h1,h2{text-shadow:#999 3px 3px 5px;}
a{color:dodgerblue;}
.fill{height:100%;margin:0;padding:0;}
.em{font-style:italic;}
.new{color:red;}
.main{width:800px;margin:0 auto;}
.ellipsis{white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
#footer{text-align:center;}
.left{float:left;}
.right{float:right;}
.tab{margin-left:20px;}
.x{clear:both;margin:0;padding:0;}
.hide{display:none;}
fieldset{border-radius:5px;border:1px solid gray;padding:0;}
legend{margin-left:10px;}
textarea,input[type=text]{width:100%;border:none;margin:0;padding:0;}
#cList{overflow-x:hidden;overflow-y:auto;margin:10px 0;}
#cList>div{display:block;padding:10px;border-top:1px dashed gray;overflow:hidden;height:60px;position:relative;}
#cList>div:last-child{border-bottom:1px dashed gray;}
#cList .updated{margin-left:20px;color:gray;font-style:italic;}
#cList .update{position:absolute;right:10px;top:10px;}
#cList .message{color:gray;position:absolute;bottom:10px;left:10px;}
#cList .disabled{color:gray;background:silver;}
#cList .name{font-weight:bold;line-height:150%;display:inline-block;max-width:400px;}
#cList .panel{position:absolute;bottom:10px;right:10px;}
#cList .panel>button{width:80px;}
#overlay{background:#000;position:fixed;z-index:10;top:0;bottom:0;left:0;right:0;transition:all .5s linear;opacity:0;}
#overlay.overlay{opacity:0.6;}
.float{position:fixed;background:lightgray;margin:0 auto;z-index:10;padding:10px;border-radius:10px;border-spacing:10px;}
#editor{left:0;right:0;top:0;bottom:0;width:100%;border-radius:0;}
#editor td{vertical-align:top;}
.rules textarea{height:100px;}
#mName{height:60px;}
#advanced{padding:20px;}
#advanced fieldset{padding:10px;margin:10px;}
#advanced legend{margin:0;}
.side{width:200px;}
.list{background:white;overflow-x:hidden;overflow-y:auto;}
.list>div{display:block;padding:2px 10px;cursor:pointer;border-bottom:1px dashed lightgray;}
.list .selected{background:gray;color:white;}
#export .list{width:400px;height:420px;}
#popup>div{cursor:pointer;padding:5px;display:block;}
#popup>div:hover{background:gray;color:gold;}
#popup>div.disabled{color:gray;}
#popup>div.disabled:hover{color:silver;}
#popup>div span{display:inline-block;width:20px;}
#popup>hr{border:none;border-top:1px dashed gray;}
