body{background:#eee;font-family:Calibri,Arial;}
h1{text-align:center;}
h1,h2{text-shadow:#999 3px 3px 5px;}
a{color:dodgerblue;}
.em{font-style:italic;}
.new{color:red;}
.main{width:800px;margin:0 auto;}
.ellipsis{white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
#footer{text-align:center;}
.left{float:left;}
.right{float:right;}
.tab{margin-left:20px;}
.x{clear:both;margin:0;padding:0;}
.hide{display:none;}
fieldset{border-radius:5px;border:1px solid gray;padding:0;}
legend{margin-left:10px;}
#cssList{overflow-x:hidden;overflow-y:auto;height:500px;margin:10px 0;}
#cssList>div{display:block;padding:10px;border-top:1px dashed gray;overflow:hidden;height:60px;position:relative;}
#cssList>div:last-child{border-bottom:1px dashed gray;}
#cssList .updated{margin-left:20px;color:gray;font-style:italic;}
#cssList .message{color:gray;position:absolute;bottom:10px;left:10px;}
#cssList .disabled{color:gray;background:silver;}
#cssList .name{font-weight:bold;line-height:150%;display:inline-block;max-width:400px;}
#cssList .panel{position:absolute;bottom:10px;right:10px;}
#cssList .panel>button{width:80px;}
#overlay{background:#000;position:fixed;z-index:10;}
@keyframes o_in{0%{opacity:0;}100%{opacity:0.6;}}
.o_in{top:0;bottom:0;left:0;right:0;animation:o_in 1s forwards;}
.float{position:fixed;background:lightgray;margin:0 auto;z-index:10;padding:10px;border-radius:10px;border-spacing:10px;}
#editor{width:960px;}
textarea,input[type=text]{width:100%;border:none;margin:0;padding:0;}
.rules textarea{height:100px;}
.content textarea{height:260px;}
#advanced{padding:20px;}
#advanced fieldset{padding:10px;margin:10px;}
#advanced legend{margin:0;}
.side{width:1px;}
#mInc,#mExc{height:80px;}
#mCss{height:300px;overflow:auto;}
.list{background:white;overflow-x:hidden;overflow-y:auto;height:420px;width:200px;}
.list>div{display:block;padding:2px 10px;cursor:pointer;border-bottom:1px dashed lightgray;}
.list .selected{background:gray;color:white;}
#export .list{width:400px;}
#popup>div{cursor:pointer;padding:5px;display:block;}
#popup>div:hover{background:gray;color:gold;}
#popup>div.disabled{color:gray;}
#popup>div.disabled:hover{color:silver;}
#popup>div span{display:inline-block;width:20px;}
#popup>hr{border:none;border-top:1px dashed gray;}
