@import url(font.css);
html,body{background:#eee;}
h1,h2{text-shadow:#999 3px 3px 5px;}
a{color:dodgerblue;}
.center{text-align:center;}
.float,.frame{position:fixed;background:lightgray;}
.frame{left:0;right:0;top:0;bottom:0;height:100%;width:100%;table-layout:fixed;}
.float{margin:0 auto;padding:10px;border-radius:10px;border-spacing:10px;}
.fill{width:100%;height:100%;margin:0;padding:0;overflow:hidden;}
.em{font-style:italic;}
.new{color:red;}
.menu,.ellipsis{white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.menu{overflow-y:auto;}
.left{float:left;}
.right{float:right;}
.tab{margin-left:20px;}
.menu,.x{clear:both;margin:0;padding:0;}
.hide{display:none;}
tr.fill>td{height:100%;}
tr{vertical-align:top;padding:0;height:1px;}
tr.expand{height:auto;}
.expandr{position:relative;}
.expanda,#editor .CodeMirror{position:absolute;width:100%;height:100%;}
.CodeMirror{background:white;}
#main{background:transparent;width:800px;margin:0 auto;}
#advanced label{display:block;}
#main fieldset{position:relative;height:100%;padding:0;}
#main legend{margin-left:10px;}
textarea,input[type=text]{width:100%;border:none;margin:0;padding:0;}
fieldset{border-radius:5px;}
#sList{overflow-x:hidden;overflow-y:auto;position:absolute;top:22px;left:0;right:0;bottom:10px;}
#sList>div{display:block;padding:10px;overflow:hidden;height:60px;position:relative;border-top:1px dashed gray;}
#sList>div:last-child{border-bottom:1px dashed gray;}
#sList .updated{margin-left:20px;color:gray;font-style:italic;}
#sList .update{position:absolute;right:10px;top:10px;}
#sList .message{color:gray;position:absolute;bottom:10px;left:10px;}
#sList .disabled{color:gray;background:silver;}
#sList .disabled a{color:gray;}
#sList .name{font-weight:bold;line-height:150%;display:inline-block;max-width:400px;}
#sList .panel{position:absolute;bottom:10px;right:10px;}
#sList .panel>button{width:80px;}
#overlay{background:#000;position:fixed;top:0;bottom:0;left:0;right:0;transition:all .5s linear;opacity:0;}
#overlay.overlay{opacity:0.6;}
#editor table{border-spacing:10px;}
.rules{width:100%;}
.rules textarea{height:100px;}
#mName{height:60px;}
#advanced{padding:20px;}
#advanced fieldset>*:not(:first-child){display:inline-block;}
#advanced legend{margin:0;}
.side{width:220px;}
.list{background:white;overflow-x:hidden;overflow-y:auto;}
.list>div{display:block;padding:2px 10px;cursor:pointer;border-bottom:1px dashed lightgray;}
.list .selected{background:gray;color:white;}
#export .list{width:400px;height:420px;}
#xOptions{display:inline-block;position:relative;}
#xOptions>div{display:none;position:absolute;padding:10px;background:silver;box-shadow:5px 10px 15px rgba(0,0,0,0.4);border:1px solid gray;}
#xOptions>div>label{display:block;white-space:nowrap;}
#xOptions:hover>div{display:block;}
.menu>div{cursor:pointer;padding:5px;display:block;}
.menu>div:hover{background:gray;color:gold;}
.menu>div.disabled{color:gray;}
.menu>div.disabled:hover{color:silver;}
.menu>div span{display:inline-block;width:20px;}
.menu>hr{border:none;border-top:1px dashed gray;}
#mCode{font-family:monospace;}
#dImport{position:relative;}
#aImport{display:block;position:absolute;width:100%;height:100%;cursor:default;opacity:0;top:0;left:0;}
